{% if DEFAULT_PAGINATION %}
<div class="pagination">
    <ul>
        <li class="pagination__prev">
        {% if articles_page.has_previous() %}
            {% set num = articles_page.previous_page_number() %}
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo;</a>
        {% else %}
            <div class="pagination__prev--none">&laquo;</div>
        {% endif %}
        </li>

        {% for num in range( 1, 1 + articles_paginator.num_pages ) %}

          {% if num == articles_page.number %}
            {% set class_str = 'class="pagination__page--current"' %}
          {% else %}
            {% set class_str = '' %}
          {% endif %}

          {% if num == 1 %}
          <li>
            <a {{ class_str }} href="{{ SITEURL }}/{{ page_name }}.html">{{ num }}</a>
          </li>
          {% elif (num - articles_page.number)|abs <= 3 or num == articles_paginator.num_pages %}
          <li>
            <a {{ class_str }} href="{{ SITEURL }}/{{ page_name }}{{ num }}.html">{{ num }}</a>
          </li>
          {% else %}
            {% if num < articles_page.number and not set_before_dots %}
                <li>.....</li>
                {% set set_before_dots = True %}
            {% elif num > articles_page.number and not set_after_dots %}
                <li>.....</li>
                {% set set_after_dots = True %}
            {% endif %}
            </li>
          {% endif %}
        {% endfor %}

        <li class="pagination__next">
        {% if articles_page.has_next() %}
            <a href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a>
        {% else %}
            <div class="pagination__next--none">&raquo;</div>
        {% endif %}
        </li>
    </ul>
</div>
{% endif %}
