{% extends "base.html" %}
{% block title %}&ndash; Authors{% endblock %}

{% block head %}

  {% if HSS_TWITTER_CARD %}
  <meta name="twitter:title" content="{{ SITENAME }} &ndash; Authors" />
  {% endif %}

{% endblock %}


{% block content %}
<article>
  <div class="article__text">
    <ul>
      {% for author, articles in authors|sort %}
      <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
